{% extends 'main/base.html'%}
{% load crispy_forms_tags %}

{% block title%}Create SMS content{% endblock %}
{% block style%}
<!--write here css-->
{% endblock style%}
{% block script%}
{% endblock %}
{% block content %}
<!--write main content here-->
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'koscientific:home' %}">Home</a>

        / <a href="{% url 'koscientific:sms_message_list' %}">Sms</a>
        / Edit

    </div>
{% endblock %}
<div class="row" style="background-color: white">
    <div class="col-lg-12" style="margin-bottom:900px">

        <div style="margin-left: 20px;">
            <h1><b>Edit SMS Message</b></h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a>Home</a>
                </li>
                <li class="breadcrumb-item">
                  <a>notification</a>
                </li>
                <li class="breadcrumb-item active">
                  <strong>Edit sms message</strong>
                </li>
              </ol>
            <span class="pull-right" style="margin-top: -40px;"><a href="{% url 'koscientific:sms_message_list' %}" class="btn btn-primary">Content List</a> </span>
        </div>
        <hr size="30">
        <form action="" method="post" class="col-md-7">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" name="free_paper" value="Save" class="btn btn-primary">

        </form>
    </div>
</div>
{% endblock %}