{% extends 'main/base.html'%}

{% block title%}Send mass sms{% endblock %}

{% block style%}

<!--write here css-->
{% endblock style%}
{% block script%}

$(document).ready(function () {
    console.log("fg");
    var maxLength = 160;
    var textlen = $('textarea').val().length;
    $('#rchars').text(textlen+"/"+maxLength);
    $('textarea').keyup(function () {
        textlen = $(this).val().length;
        console.log("textlen =>",textlen);
        $('#rchars').text(textlen+"/"+maxLength);
        if (textlen < 0) { $('#sms_send').attr('disabled', true); } else { $('#sms_send').attr('disabled', false); }
    });
});
    {% endblock %}
 {% block content %} 
<div class="row">
    <div class="col-lg-12">
        <div class="ibox ">
            <div class="ibox-title">
                {% if sms_to == 'members' %}
                <h3>Quick Message to members</h3>
                {% else %}
                <h3>Information to Voters</h3>
                {% endif %}
    
            </div>
            <div class="ibox-content">
                <!--=================================-->
                <!--===========start sms=============-->
                <!--=================================-->
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.message.label_tag }}
                        <textarea class="form-control {% if form.message.errors %}
                                               is-invalid{% endif %}" id="id_message" name="message"
                            rows="6">{{ form.message.value|default:""}}</textarea>
                        <div class="text-right">
                            <span id="rchars">160</span> Character(s) Remaining
    
                        </div>
                        {% if form.message.errors %}
                        <div class="invalid-feedback">
                            {{ form.message.errors }}
                        </div>
                        {% endif %}
                    </div>
                    <div class="mt-3">
                        <input id="sms_send" type="submit" value="send sms" class="btn btn-primary" />
                    </div>
                </form>
            </div>
            <!--=================================-->
            <!--=============end sms=============-->
            <!--=================================-->
    
        </div>
</div>

{% endblock %}