{% extends 'main/base.html'%}

{% block title%}About Eye Care{% endblock %}

{% block style_link %}
<style>
    h2 {
        margin-top: 15px !important;
    }
    article {
        padding-left: 15px;
    }
</style>

{% endblock style_link%}

{% block content %}
<div class="row">
    <div class="ibox">
        <div class="ibox-title">
            <h1>About Eye Care</h1>
        </div>
        <div class="ibox-content">

            <h2>Age-Related Macular Degeneration</h2>

            <article>Age Related Macular Degeneration also known as ARMD or AMD is an eye condition that causes vision
                loss in 50
                years and older persons. It causes damage to the macula, which is located near the centre of the retina
                and
                the part of eye which is needed for sharp, central vision.
                In some people, ARMD advances so slowly that vision loss does not occur for a long time. In others, the
                disease progresses faster. As ARMD progresses, patients experience a blurred area near the centre of
                vision
                which over time may grow bigger or there may be blank spots in the central vision. Also objects may not
                appear to be bright.
            </article>
            <h2>Amblyopia</h2>
            <article>Amblyopia is when the vision in one or both eyes does not develop properly during childhood. It is
                a common
                problem seen in babies and young children.
                Amblyopia can happen because the eye and the brain are not working together properly. The eye itself
                looks
                normal, but it is not being used normally because the brain is favoring the other eye. This condition is
                also sometimes called lazy eye.
                A child’s vision develops in the first few years of life. Thus, it is important to diagnose and treat
                amblyopia as early as possible. Otherwise, a child with amblyopia will not develop normal, healthy
                vision
                which may even result in issues in learning and normal skill development.
            </article>
            <h2>Astigmatism</h2>
            <article>Astigmatism is an imperfection in the curvature of the cornea or lens of the eye. Normally, the
                cornea and
                lens are smooth and curved equally in all directions. This helps to focus light rays sharply onto the
                right
                location on the retina at the back of the eye. If there is an imperfection in the curvature of the
                cornea or
                lens, the light rays aren't refracted properly resulting in Astigmatism.
                When the cornea is irregular, it is known as corneal astigmatism. When the shape of lens is distorted,
                it is
                called lenticular astigmatism. In either case, the vision for both near and far objects is blurry or
                distorted.
                People may have astigmatism along with other refractive errors such as myopia.
                Children with astigmatism may not be aware they have this condition and are unlikely to complain about
                blurred or distorted vision. Uncorrected astigmatism can impact a child's ability to achieve in school
                and
                activities like sports. So it is important that regular eye exam be conducted in children.

            </article>
            <h2>Bell’s Palsy</h2>
            <article>Bell’s palsy is a neurological condition that affects the muscles of your face. It causes weakness
                or
                partial paralysis of the muscles on one side of your face. As a result the eyelid may not close properly
                and
                smile may become uneven.
                Bell’s palsy usually affects adults and is rare in children. It is more likely to happen to people who
                have
                a family history of Bell’s palsy.
            </article>

            <h2>Blepharitis</h2>
            <article>Blepharitis is an inflammation of the eyelid that affects eyelashes or tears production.

                Blepharitis commonly occurs when the tiny oil glands of the inner eyelid become inflamed. It often
                occurs
                along with other skin conditions or allergies.
            </article>
            <h2>Bacterial Keratitis</h2>

            <article>Bacterial keratitis is an infection of the cornea (the clear dome covering the colored part of the
                eye)
                that
                is caused by bacteria. It can affect contact lens wearers, and also sometimes people who do not wear
                contact
                lenses. Types of bacteria that commonly cause bacterial keratitis include:
                 
                <li>Pseudomonas aeruginosa</li>
                <li>Staphylococcus aureus</li>
            </article>


            <h2>Cataracts</h2>
            <article>A cataract is a clouding of the eye's natural lens, which lies behind the iris and the pupil. The
                lens
                inside the eye works like a camera lens, focusing light onto the retina for clear vision. It also
                adjusts
                the eye's focus, letting us see things clearly both up close and far away. The lens is mostly made of
                water
                and protein. The protein is arranged in a precise way that keeps the lens clear and lets light pass
                through
                it.
                With the aging, some of the protein may clump together and start to cloud a small area of the lens. This
                is
                known as cataract, and over time, it may grow larger and cloud more of the lens, making it harder to
                see.
                Cataracts are the most common cause of vision loss in people over age 40 and are the principal cause of
                blindness in the world.
            </article>
            <h2>Computer Vision Syndrome (CVS)</h2>
            <article>Computer Vision Syndrome (CVS) is a condition resulting from focusing the eyes on a computer or
                other
                display device for protected, uninterrupted periods of time and the eye muscles being unable to recover
                from
                the strain due to lack of adequate sleep. 
                This is also called <b>digital eye strain</b>.
            </article>

            <h2>Corneal Ulcer</h2>
            <article>A corneal ulcer is an open sore of the cornea. There are a wide variety of causes of corneal
                ulcers,
                including infection, physical and chemical trauma, corneal drying and exposure, and contact lens
                overwear
                and misuse. Corneal ulcers are a serious problem and may result in loss of vision or blindness.
            </article>
            <h2>Dry Eye</h2>
            <article>For healthy and comfortable eyes, we need tears. If the eyes do not produce enough tears , it is
                called
                dry
                eyes.  Dry eye is also when the eyes do not make the right type of tears or tear film.
            </article>
            <h2>Eye Melanoma</h2>
            <article>Eye melanoma most commonly develops in the cells of the middle layer of the eye (uvea). The uvea
                has three
                parts and each can be affected by eye melanoma:
                <li><b>The iris</b>, which is the colored part in the front of the eye</li>
                <li><b>The choroid layer</b>, which is the layer of blood vessels and connective tissue between the
                    sclera and
                    the retina at the back of the uvea</li>
                <li><b>The ciliary body</b>, which is in the front of the uvea and secretes the transparent liquid
                    (aqueous
                    humor)into the eye.</li>
                Eye melanoma can also occur on the outermost layer on the front of the eye (conjunctiva), in the socket
                that
                surrounds the eyeball and on the eyelid, though these types of eye melanoma are very rare.
            </article>
            <h2>Fuchs Dystrophy</h2>
            <article>Fuchs' dystrophy is an eye disease in which the innermost layer of cells, called the endothelium
                 in the
                cornea undergoes degenerative changes. Endothelium is responsible for maintaining the proper amount of
                fluid
                in the cornea and  keeps the cornea clear for good vision by pumping out excess fluid that could cause
                corneal swelling.It usually affects both eyes and causes a gradual decline in vision due to corneal
                edema
                (swelling) and clouding.
                As the disorder progresses, swelling of the cornea can cause blisters on the front of the cornea known
                as
                epithelial bullae (BULL-eye). This condition is known as bullous keratopathy.
            </article>
            <h2>Herpes Keratitis</h2>
            <article>Herpes keratitis is a viral infection of the eye caused by the herpes simplex virus (HSV). There
                are two
                major types of the virus:
                <li>Type I is the most common and primarily infects the face, causing the familiar "cold sore" or "fever
                    blister."</li>
                <li>Type II is the sexually transmitted form of herpes, infecting the genitals.</li>
                 
                While both Type I and Type II herpes can spread to the eye and cause infection, Type I is by far the
                most
                frequent cause of eye infections. Infection can be transferred to the eye by touching an active lesion
                (a
                cold sore or blister) and then the eye.
            </article>
            <h2>Ocular Hypertension</h2>
            <article>Ocular hypertension means the pressure in the eyes —the  intraocular pressure also known as (IOP) —
                is
                higher than normal. Left untreated, high eye pressure can cause glaucoma and permanent vision loss in
                some
                individuals.
                However, some people can have ocular hypertension without developing any damage to their eyes or vision,
                as
                determined by a comprehensive eye exam and visual field testing.
                Researchers have estimated that ocular hypertension is 10 to 15 times more likely to occur than primary
                open-angle glaucoma, the most common type of glaucoma.
            </article>

            <h2>Pain Around Eye</h2>
            <article>Pain and tenderness around the eye can affect the eyelids and tissues around the eye.
                Pain Around Eye may be associated with:
                Bell's Palsy, Black Eye, Blocked Tear Duct, Cellulitis, Glaucoma, Microvascular Cra
            </article>
            <h2>Pain Behind the Eye</h2>
            <article>Pain behind the Eye is a physical discomfort due to an eye disease or other condition. Pain behind
                the
                eye
                feels like it is coming from inside the head, not on the skin’s surface. Where the patient feel pain is
                not
                necessarily an indicator of what’s causing the pain.
                Pain behind the eye may be associated with:
                <li>Migraine</li>Pain behind the eye can be similar to these symptoms:
                <li>Pain around eye</li>
                <li>Pain in eye</li>
            </article>
            <h2>Uveitis</h2>
            <article>Uveitis (pronounced you-vee-EYE-tis) is inflammation of the uvea — the middle layer of the eye that
                consists
                of the iris, ciliary body and choroid.Uveitis can have many causes, including eye injury and
                inflammatory
                diseases.
            </article>
        </div>
    </div>
</div>


{% endblock %}