{% extends 'main/base.html'%}
{% block title%}Invite Evaluter{% endblock %}
{% load crispy_forms_tags %}

{% block style%}
h2 {
font-size: 20px;
}
{% endblock style%}
{% block script%}
{% endblock %}

     {% block crumbs %}
 / <a href="{% url 'koscientific:evaluter_list' %}">Evaluators</a>
 {% endblock %}


{% block content %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'koscientific:home' %}">Home</a>

        / <a href="{% url 'koscientific:evaluter_list' %}">Evaluators</a>
        / Add

    </div>
{% endblock %}
<div class="row" style="background-color: white">
    <div class="col-lg-12" style="margin-bottom:900px">

        <div style="margin-left: 20px;">
            <h2>Add evaluators from Non-KOS members</h2>

            <span class="pull-right" style="margin-top: -40px;">
                <a href="{% url 'koscientific:evaluter_list' %}"
                    class="btn btn-primary">Evaluator List</a> 
            </span>

        </div>
        <hr size="30">
        <form id="" action="." method="post" class="col-md-4">
            {% csrf_token %}
            {{form|crispy}}
            <br>

            <div class="form-group row">

                <div class="col-sm-10 ">
                    <button type="submit" class="btn btn-primary"><strong>Submit</strong>
                    </button>
                    <span class="m-2"></span>
                    <button type="button" class="btn btn-danger "><strong><a href="{% url 'koscientific:evaluter_list' %}" class="text-white">Cancel</a></strong>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}

{% block script_link %}
    {{ form.media.js }}
{% endblock script_link %}
    