{% extends 'main/base.html'%}
{% block title%}Poster guidelines{% endblock %}
{% block style%}

{% endblock style%}
{% block script%}
{% endblock %}
{% block content %}

<div class="row" style="background-color: white">
    <div class="col-lg-12" style="margin-bottom:900px">
        <body>
        <div class="container1">
        <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
            <style>.city{padding-left:40px;}
            .pink{color:#000 !important;}</style>
            <h2 style="color: #ce0b4e; text-align: center; text-transform: uppercase;"><b>GUIDELINES FOR E-POSTERS</b></h2>
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>E POSTER ABSTRACT SUBMISSION FOR KOS OPENS ON 1st APRIL AND CLOSES ON 31st MAY</strong></p>
            <p>&nbsp;</p>
            <h3>Specialties</h3>
            <p>E-Posters are accepted in any of the following specialties</p>
            <p>&nbsp;</p>
            <ol class="city">
            <li>Cataract</li>
            <li>Community / Social Ophthalmology</li>
            <li>Comprehensive Ophthalmology</li>
            <li>Cornea</li>
            <li>Diabetic Retinopathy and Medical Retina</li>
            <li>External Disease</li>
            <li>Glaucoma</li>
            <li>Lacrimal</li>
            <li>Neuro Ophthalmology</li>
            <li>Ocular Pathology , Ocular Oncology and Tumors</li>
            <li>Optics / Refraction / Contact Lens</li>
            <li>Orbit &amp; Oculoplasty</li>
            <li>Pediatric</li>
            <li>Refractive Surgery</li>
            <li>Squint</li>
            <li>Trauma</li>
            <li>Uvea</li>
            <li>Vitreo Retinal Diseases</li>
            </ol>
            <p>* The Scientific Committee has started accepting abstracts for “Ocular Oncology &amp; Tumors” for KOS 2019 (Refer specialty no.10 above)</p>
            <p>* Owing to very poor response, the below two sections have been removed</p>
            <ol class="city">– Inflammation</ol>
            <ol class="city">– Ophthalmic Education, Epidemiology &amp; Prevention of Blindness</ol>
            <p>Further, subject of “Inflammation” is not “Subject-Specific” &amp; Ophthalmic Education, Epidemiology &amp; Prevention of Blindness can be covered under Community / Social Ophthalmology or Comprehensive Ophthalmology</p>
            <p>&nbsp;</p>
            <h3>General Guidelines</h3>
            <p>An E-Poster is an electronic version of the traditional boards, and is displayed on the e-poster and video kiosks. E-Poster may include text, figures, tables and images&nbsp;but NO video/animations.</p>
            <p style="text-align: initial!important;">1. The author will have an option to convey his/her preference between e-poster or physical&nbsp;poster while submitting the abstract.</p>
            <p style="text-align: initial!important;">2. Abstracts are to be submitted online only. No abstracts shall be accepted as a email, Fax, Hard copies etc.</p>
            <p style="text-align: initial!important;">3. Scientific E-Posters, in general, have the following characteristics:</p>
            <ul class="city" type="square">
            <li>Are presented by individuals rather than by organizations.</li>
            <li>Present scientific material, usually new information</li>
            <li>Do not solicit members, or promote an organization</li>
            </ul>
            <p style="text-align: initial!important;">4. Each Presenting Author can submit two E-Posters out of which two can get selected based on the&nbsp;evaluation process &amp;scores.</p>
            <p style="text-align: initial!important;">5. There can be a maximum of 4 authors in an E-Poster(including the chief author).</p>
            <p style="text-align: initial!important;">6. All authors should be members of KOSS (Either ratified or non-ratified).</p>
            <p style="text-align: initial!important;">7. Non-ophthalmic co-authors can be included (if relevant) &amp; they can be non–members. However, atleast one author should be a ratified member of KOSS.</p>
            <p style="text-align: initial!important;">8. Ophthalmic authors who are non-members of KOSS should become a member of KOSS to be an author of the e-poster. Visit&nbsp;<a href="https://kosonline.org/" target="_blank" rel="noopener">https://kosonline.org&nbsp;</a>to become a member.</p>
            <p style="text-align: initial!important;">9.&nbsp;To include non-ophthalmic authors, who are non-members of KOSS, please write to&nbsp;<a href="mailto:chairmanscientificcommittee@koss.org">&nbsp;chairmanscientificcommittee@koss.org&nbsp;</a>(with CC to <a href="mailto:support@KOSS-online.com">support@KOSS-online.com</a> ) along with details of the course, name of the author, his/her complete address, valid email id and mobile number</p>
            <p style="text-align: initial!important;">10. Institution / hospital affiliation and doctor’s name in the title or abstract should not&nbsp;be mentioned and will lead to automatic rejection.</p>
            <p>&nbsp;</p>
            <h3>How many authors an E-Poster can have?</h3>
            <p style="text-align: initial!important;">1. An E-Poster can have one presenting author and upto 3 co-authors. (4 authors in total)</p>
            <p style="text-align: initial!important;">2. One of the above 4 authors can be the presenting author of the E-Poster.</p>
            <p style="text-align: initial!important;">3. Atleast one of the 4 authors should be a ratified member of KOSS.</p>
            <p>&nbsp;</p>
            <h3>Abstract Structure</h3>
            <p>Only the title and the authors name will be printed in the abstract book.</p>
            <h5></h5>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;font-size: medium;">Abstract Title</h5>
            <p>The title of the E – Poster&nbsp; SHOULD NOT exceed 100 characters (including spaces).</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;font-size: medium;">Synopsis</h5>
            <p>The Synopsis SHOULD NOT exceed 1000 characters (including spaces).</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;font-size: medium;">Add Presenting Author</h5>
            <p>Atleast one presenting author should be added. The chief author himself / herself can be a presenting author. The presenting author should be a member of KOSS</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;font-size: medium;">Add co-authors</h5>
            <p>A maximum of three co-authors can be added. If there are no co-authors, add the chief / presenting author itself as a co-author. All co-authors should be a member of KOSS.</p>
            <p>&nbsp;</p>
            <h3>Declaration to be provided:</h3>
            <p>The following points has to be declared while submitted the abstract</p>
            <p style="text-align: initial!important;">1. Whether the research has been carried out in india. Was this research carried out in India ?</p>
            <p style="text-align: initial!important;">2. Was this submission been presented in any other conference earlier.</p>
            <p style="text-align: initial!important;">3. Would this submission be presented in any other conferences prior to the upcoming annual conference of KOSS.</p>
            <p style="text-align: initial!important;">4. Has this submission won any National / International Award.</p>
            <p style="text-align: initial!important;">5. Was this submission published or submitted for publication in any peer reviewed journal.</p>
            <p style="text-align: initial!important;">6. Does this paper pertain to Laboratory research ( Translational research ).</p>
            <p>&nbsp;</p>
            <h3>Uploading / Submission of E-Posters</h3>
            <p>A link to upload selected E-Posters will be made available and the same&nbsp;will also be uploaded in the website.<br>
            Last date for submission of e-posters is 15th October. E-posters submitted after the last date shall be automatically rejected.</p>
            <p>&nbsp;</p>
            <h3>Presentations for E-Posters</h3>
            <p>E-Posters should consist of a maximum of 12 Microsoft Power point slides, including title&nbsp;slide and offering information on the following topics:</p>
            <p style="text-align: initial!important;">1. Introduction</p>
            <p style="text-align: initial!important;">2. Material and Methods</p>
            <p style="text-align: initial!important;">3. Discussion</p>
            <p style="text-align: initial!important;">4.Conclusion</p>
            <p style="text-align: initial!important;">5. Use Time New Roman or Arial fonts.</p>
            <p style="text-align: initial!important;">6. Use the first slide to show the title of the E-Poster and the authors information.</p>
            <p style="text-align: initial!important;">7. Font should be no smaller than 18 points.</p>
            <p style="text-align: initial!important;">8. Maximum of 120 words on each slide.</p>
            <p style="text-align: initial!important;">9. Use a plain background without patterns or dark colours.</p>
            <p style="text-align: initial!important;">10. Use clear headings and leave spaces between sections.</p>
            <p style="text-align: initial!important;">11. Pictures and graphics should be clearly labelled and described.</p>
            <p style="text-align: initial!important;">12. Pictures and graphics should be of good quality.</p>
            <p style="text-align: initial!important;">13. Text should not be obscured by images.</p>
            <p style="text-align: initial!important;">14. Remember that simpler posters are always more attractive and easier to read.</p>
            <p style="text-align: initial!important;">15. Do not fit too much information on one slide.</p>
            <p style="text-align: initial!important;">16. Correct spelling and punctuation make your poster more attractive and informative.</p>
            <p style="text-align: initial!important;">17. E-Posters should contain no video clips/animation files.</p>
            <p style="text-align: initial!important;">18. The file should be not more than 5 MB (more than this size, it will be rejected&nbsp;automatically).</p>
            <p>&nbsp;</p>
            <h3>Selection and presentation</h3>
            <p>1. All the Submitted E-Posters will be subjected to an evaluation Process.</p>
            <p>2. Based on the scores, the best e-poster of each section will be prominently displayed in the e-poster terminal.</p>
            <p>3. The authors of E-Posters need not be physically present at&nbsp;the E-Poster / Video display terminal</p>
            <p>&nbsp;</p>
            <h3>Viewing E-posters</h3>
            <p>The selected E-Poster can be viewed any time during the conference. A specific time slot will&nbsp;not be required.</p>
            <p>&nbsp;</p>
            <h3>Presence at the conference</h3>
            <p>Presence of the chief author, presenting author or the co-author of e-poster at the conference is not mandatory.</p>
            <p>&nbsp;</p>
            <h3>Certificates</h3>
            <p style="text-align: initial!important;">1. The Scientific Committee shall issue a certificate of presentation to all the authors of the e-poster which was displayed in the kiosk.</p>
            <p style="text-align: initial!important;">2. This certificate will be in the form of a tamper proof digitally signed PDF file which can be downloaded by logging in using the blue box of the scientific committee website</p>
            <p style="text-align: initial!important;">3. Certificates will be available on the website after 15 days from the date of the conference.</p>
            <p>&nbsp;</p>
            <h3>E-Poster on proceedings website</h3>
            <p>Your E-Poster shall be included into the website of the proceedings of the conference.</p>
            <p>&nbsp;</p>
            <p style="text-transform: uppercase;"><strong class="pink">Authors of plagiarized abstracts shall be debarred from submitting abstracts for the&nbsp;next two years.</strong></p></div></div>
    </div>
</body>
    </div>
</div>
{% endblock %}
