{% extends 'main/base.html'%}
{% block title%}Free Paper guidelines{% endblock %}
{% block style%}

{% endblock style%}
{% block script%}
{% endblock %}
{% block content %}
<!--write main content here-->
<div class="row" style="background-color: white">
    <div class="col-lg-12" style="margin-bottom:900px">
        <body>
    <div class="wpb_wrapper container1">
        <div class="wpb_text_column wpb_content_element">
        <div class="wpb_wrapper">
        <style>.city{padding-left:40px;}
        .pink{color:#000 !important;}</style>
        <h2 style="color: #ce0b4e; text-align: center; text-transform: uppercase;"><b>GUIDELINES FOR FREE PAPERS</b></h2>
        <p>&nbsp;</p>
        <p style="text-align: center;"><strong>FREE PAPER ABSTRACT SUBMISSION FOR KOS OPENS ON 1st APRIL AND CLOSES ON 31st MAY</strong></p>
        <p>&nbsp;</p>
        <h3>Specialties</h3>
        <p>Free papers are accepted in any of the following specialties</p>
        <p>&nbsp;</p>
        <ol class="city">
        <li>Cataract</li>
        <li>Community / Social Ophthalmology</li>
        <li>Comprehensive Ophthalmology</li>
        <li>Cornea</li>
        <li>Diabetic Retinopathy and Medical Retina</li>
        <li>External Disease</li>
        <li>Glaucoma</li>
        <li>Lacrimal</li>
        <li>Neuro Ophthalmology</li>
        <li>Ocular Pathology , Ocular Oncology and Tumors</li>
        <li>Optics / Refraction / Contact Lens</li>
        <li>Orbit &amp; Oculoplasty</li>
        <li>Pediatric</li>
        <li>Refractive Surgery</li>
        <li>Squint</li>
        <li>Trauma</li>
        <li>Uvea</li>
        <li>Vitreo Retinal Diseases</li>
        </ol>
        <p>* The Scientific Committee has started accepting abstracts for “Ocular Oncology &amp; Tumors” for KOS 2019 (Refer specialty no.10 above)</p>
        <p>* Owing to very poor response, the two sections have been removed</p>
        <ol class="city" type="a">
        <li style="list-style-type: none;"> <ol class="city" type="a">– Inflammation</ol> <ol class="city" type="a">– Ophthalmic Education, Epidemiology &amp; Prevention of Blindness</ol> </li>
        </ol>
        <p>Further, subject of “Inflammation” is Not “Subject-Specific” &amp; Ophthalmic Education, Epidemiology &amp; Prevention of Blindness can be covered under Community / Social Ophthalmology or Comprehensive Ophthalmology.</p>
        <p>&nbsp;</p>
        <h3>General Guidelines</h3>
        <p style="text-align: initial !important;">1. Each member can submit a total of 3 abstracts (as presenting author), of which 2 can be of the same / similar specialty.</p>
        <p style="text-align: initial !important;">2. Abstracts are to be submitted online only. No abstracts shall be accepted as a email, Fax, Hard copies etc.</p>
        <p style="text-align: initial !important;">3. All abstracts undergo an evaluation process.</p>
        <p style="text-align: initial !important;">4. Based on the evaluation, a member can present a MAXIMUM OF 2 FREE PAPERS.</p>
        <p style="text-align: initial !important;">5. The presenting author &amp; the co-authors SHOULD be members of KOSS (Either ratified or non-ratified). Each Author must have contributed to the scientific part of Free paper being submitted.</p>
        <p style="text-align: initial !important;">6. However, atleast one author should be a ratified member of KOSS.</p>
        <p style="text-align: initial !important;">7. Ophthalmic authors who are non-members of KOSS should become a member of KOSS to be a presenting&nbsp; author / co-author of the free paper. I Visit <a href="http://www.koss.org" target="_blank" rel="noopener"> https://kosonline.org&nbsp;</a>to become a member.</p>
        <p style="text-align: initial !important;">8. Non-ophthalmic co-authors can be included (if relevant) &amp; they can be non–members.</p>
        <p style="text-align: initial !important;">9. To include non-ophthalmic authors, who are non-members of KOSS, please write to&nbsp;<a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a> with copy marked to&nbsp;<a href="mailto: support@koss-online.com">support@koss-online.com </a>( details of the course, name of the author, his/her complete address, valid email id and mobile number )</p>
        <p style="text-align: initial !important;">10. All free paper awards are given to the presenting author only.</p>
        <p style="text-align: initial !important;">11. The presenting author (which can be any of the 4 authors) MUST BE A RATIFIED MEMBER OF KOSS (till Membership number 22430) to contest for an award.</p>
        <p style="text-align: initial !important;">12. If presenting author is not a ratified member, the paper can be presented by the&nbsp;member BUT will not be considered for evaluation of any KOSS award.</p>
        <p style="text-align: initial !important;">13. Eligibility for KOSS Award – The submitted paper should not have been published in indexed journal/submitted for publication in indexed journal. Papers presented in other conferences can be submitted and shall be eligible for KOSS Award. If any&nbsp;ambiguity found anytime : This would amount to plagiarism and the presenter and all the co authors will be debarred for submitting to KOS for next 3 years.</p>
        <p style="text-align: initial !important;">14. Free Paper duration is 6 minutes only.</p>
        <p style="text-align: initial !important;">15. No change in presenting author is allowed during Free paper final session.</p>
        <p style="text-align: initial !important;">16. Institution / hospital affiliation and doctor’s name in the title or abstract should not&nbsp;be mentioned and will lead to automatic rejection.</p>
        <h3></h3>
        <p>&nbsp;</p>
        <h3>Withdrawal / Change of instructors</h3>
        <p>Less than 25% of the FP’s submitted are getting selected every year. Atleast 20 specialty experts evaluate every FP submitted. Hence, it is advised that author(s) should attempt to avoid withdrawal from a paper. If for any unavoidable reason, the presenting author can withdraw from his topic on the following condition(s) :-</p>
        <ol class="city" type="a">
        <li style="list-style-type: none;"> <ol class="city" type="a"> <li>No new author can be added after the submission of Free paper.</li>
        <li>Change in the sequence of speakers may be considered upto 15 Dec. This shall get reflected in the printed copy of the abstract book.</li>
        <li>Any change in the sequence from 16 Dec. – 15 Jan. shall be reflected in the soft copy ( PDF Version ) of the abstract book available on the scientific committee website.</li>
        <li>No change in the sequence shall be accepted after 15 January.</li>
        <li>As per the decision of the Governing Council, Managing Committee and the General body of KOS 2018, absence from the session without the prior information ( atleast 30 days before the conference ) shall lead to debarring as a speaker in the subsequent annual conference.</li>
        </ol>
        </li>
        </ol>
        <p>&nbsp;</p>
        <h3>How many authors a Free Paper can have?</h3>
        <p style="text-align: initial !important;">1. A free paper can have one presenting author and upto 3 co-authors. (4 authors in total)</p>
        <p style="text-align: initial !important;">2. One of the above 4 authors can be the presenting author of the free paper.</p>
        <p style="text-align: initial !important;">3. Atleast one of the 4 authors should be a ratified member of KOSS.</p>
        <p>&nbsp;</p>
        <h3>Free Paper or E-Poster</h3>
        <p>The scientific committee suggests that the “Free Paper or E-Poster” option provides the author&nbsp;with optimum opportunity to present his or her work. If this option is selected, the&nbsp;abstract will be considered, first as a paper, &amp; if not accepted, it will then be evaluated as&nbsp;a E-Poster. However, if only paper is selected, and the abstract is not accepted as a paper, it will not be considered as an E-Poster.</p>
        <p>&nbsp;</p>
        <h3>Best Paper of Affiliated State Societies</h3>
        <p style="text-align: initial !important;">1. The best paper of the annual conference of the Affiliated State Society gets an automatic&nbsp;entry into the preliminary round of the free paper session</p>
        <p style="text-align: initial !important;">2. The Hon.Gen. Secretary of the Affiliated State Society shall officially email the following details of the best paper award winner to the<a href="mailto:chairmanscientificcommittee@koss.org">&nbsp;chairmanscientificcommittee@koss.org</a> with cc to <a href="mailto:support@koss-online.com">support@koss-online.com</a></p>
        <ol class="city" type="a">
        <li>Title of the paper</li>
        <li>Presenting Author name and full address</li>
        <li>Presenting Author’s KOSS membership number</li>
        <li>Presenting Author’s email id</li>
        <li>Presenting Author’s mobile number</li>
        <li>Photograph of the presenting author</li>
        </ol>
        <p style="text-align: initial !important;">3. The presenting author can send the abstract of the winning paper. The guidelines for&nbsp;submitting the abstract have to be adhered to.</p>
        <p style="text-align: initial !important;">4. The best paper of the state is eligible for KOSS awards if the presenting author is a ratified&nbsp;member of KOSS</p>
        <p style="text-align: initial !important;">5. If the presenting author is not a ratified member of KOSS, he/she should have applied for&nbsp;membership to present his/her paper in the conference</p>
        <p style="text-align: initial !important;">6. A non-ratified presenting author is not eligible for any KOSS awards.</p>
        <p>&nbsp;</p>
        <h3>Awards</h3>
        <p style="text-align: initial !important;">1. The best paper of each session will be recognised by the KOSS Scientific Committee and a “Best Paper of Session (BPOS)” certificate shall be issued.</p>
        <p style="text-align: initial !important;">2. There will be a best paper award for each specialty. In total, 18 awards are to be won.</p>
        <p style="text-align: initial !important;">3. The winner of the best paper of each specialty will get</p>
        <ol class="city" type="a">
        <li>Opportunity to present the same Free paper as a keynote address in the free paper preliminary round, in the next Annual conference.</li>
        <li>The best paper winner shall be felicitated during the awards ceremony in the next conference.</li>
        </ol>
        <p style="text-align: initial !important;">4. The best paper in <strong class="pink">each specialty </strong>gets an entry into Col Rangachari Session ( Usually held on day 3 of the conference ). If there are more than one session(s) of any specialty then the best paper of each session of that specialty will compete in a semi final session, so as to select the best paper of the specialty – which then goes for Col Rangachari session. All the 18 Best papers ( one from each specialty ) compete in the Col Rangachari session to select the Best paper of the conference, the Presenting author of which is felicitated at the Inaugural ceremony of next conference with Col Rangachari Award.</p>
        <p style="text-align: initial !important;">5. The Presenting author of the Best State paper is eligible for a) Complimentary Registration for the Conference &amp; b) A Travel grant ( upto a maximum of Rs.10,000/-) by the KOSS office. The travel grant can be availed by the presenting authors by submitting the claim form in the scientific committee office at the venue of the conference. The claim form shall be verified and approved by the Chairman – Scientific Committee and same shall be handed over to KOSS office. The KOSS office shall issue a cheque for the approved amount.</p>
        <p style="text-align: initial !important;">6. A colour photograph of the presenting author of the best paper shall be sent to the scientific committee (<a href="mailto:support@koss-online.com">support@koss-online.com</a> and <a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a>) for inclusion in the scientific committee website /Program Book / Ready Reckoner.</p>
        <h3>Abstract Structure</h3>
        <p>Type the details exactly as you would want to be printed in the abstract book programme</p>
        <h5 style="color: #ce0b4e; font-size: medium;">Abstract Title</h5>
        <p>The title of the course SHOULD NOT exceed 100 characters (including spaces).</p>
        <h5 style="color: #ce0b4e;font-size: medium;">Synopsis</h5>
        <p>The Synopsis SHOULD NOT exceed 1000 characters (including spaces).</p>
        <h5 style="color: #ce0b4e;font-size: medium;">Add Presenting Author</h5>
        <p>Atleast one presenting author should be added. The chief author himself / herself can be a presenting author. It is the duty of the chief author to get consent from the presenting author before adding his/her name. The presenting author should be a member of KOSS</p>
        <h5 style="color: #ce0b4e;font-size: medium;">Add co-authors</h5>
        <p>A maximum of three co-authors can be added. If there are no co-authors, add the chief / presenting author itself as a co-author. All co-authors should be a member of KOSS.</p>
        <p>&nbsp;</p>
        <h3>Free Paper Full Text</h3>
        <p style="text-align: initial !important;">1. If accepted as a paper for the conference, the full text of the presentation must be&nbsp;uploaded either by logging into the chief author’s dashboard or by using the link&nbsp;provided in the selection mail before the stipulated deadline as mentioned in the&nbsp;acceptance letter.</p>
        <p style="text-align: initial !important;">2. The guideline to submit the full text is available on http://www.ijo.in/contributors.asp. Ensure that the file size is less than 5 MB. Files, which are greater than 5 MB, shall be automatically rejected.</p>
        <p style="text-align: initial !important;">3. The full text carries marks which shall be considered for selection of papers for the semi finals / finals. The free paper full text received shall be sent to the judges well in advance for evaluation.</p>
        <p style="text-align: initial !important;">4. The full text of the best paper of the state should be emailed to&nbsp;<a href="mailto:&nbsp;support@KOSS-online">support@KOSS-online&nbsp;</a>with a copy marked to&nbsp;<a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a></p>
        <p style="text-align: initial !important;">5. The last date of submission of full text is 15th October. IF THE FULL TEXT IS NOT RECEIVED BEFORE THE LAST DATE, THE FREE PAPER SHALL BE AUTOMATICALLY REJECTED AND THE NEXT IN LINE SUBMISSION SHALL BE SELECTED.</p>
        <p>&nbsp;</p>
        <h3>Sessions for the selected free papers at the conference</h3>
        <p style="text-align: initial !important;">1. The preliminary round for all specialties will be held on Day 1 of the Conference.</p>
        <p style="text-align: initial !important;">2. The semi finals for sections which has more than one preliminary rounds shall be held on day 1 of the conference.</p>
        <p style="text-align: initial !important;">3. The selection for Col. Rangachari Award will be held on day 3 of the Conference</p>
        <p>&nbsp;</p>
        <h3>Best papers to IJO first</h3>
        <p>All the SELECTED BEST PAPERS from each session should be submitted to&nbsp;IJO[editor@ijo.in] first for possible publication. The authors cannot submit the selected&nbsp;BEST PAPERS to any other journal unless it has been rejected by IJO after the peer review&nbsp;process. The final decision about the article by the “Editor – IJO” will be taken within 6&nbsp;months after the submission. If the authors have already submitted it elsewhere for&nbsp;consideration for publication, they must declare the same. Such paper(s) can be presented&nbsp;but will not be considered for “Best paper of the session award.”</p>
        <p>&nbsp;</p>
        <h3>Certificates</h3>
        <p style="text-align: initial !important;">1. The Scientific Committee shall issue a certificate of presentation to all the authors of the free paper which was read at the conference.</p>
        <p style="text-align: initial !important;">2. This certificate will be in the form of a tamper proof digitally signed PDF file which can be downloaded by logging in using the blue box of the scientific committee website</p>
        <p style="text-align: initial !important;">3. Certificates will be available on the website after 15 days from the date of the conference.</p>
        <p>&nbsp;</p>
        <h3>Declaration to be provided:</h3>
        <p style="text-align: initial !important;">The following points has to be declared while submitted the abstract</p>
        <p style="text-align: initial !important;">1. Whether the research has been carried out in india. Was this research carried out in India ?</p>
        <p style="text-align: initial !important;">2. Was this submission been presented in any other conference earlier.</p>
        <p style="text-align: initial !important;">3. Would this submission be presented in any other conferences prior to the upcoming annual conference of KOSS.</p>
        <p style="text-align: initial !important;">4. Has this submission won any National / International Award.</p>
        <p style="text-align: initial !important;">5. Was this submission published or submitted for publication in any peer reviewed journal.</p>
        <p style="text-align: initial !important;">6. Does this paper pertain to Laboratory research ( Translational research ).</p>
        <p>&nbsp;</p>
        <h3>Important Note:</h3>
        <p style="text-align: initial !important;">1. The submitted paper should NOT have been published in indexed journal OR submitted for publication in indexed journal. Papers presented in other conferences can be submitted and shall be eligible for KOSS Award.</p>
        <p style="text-align: initial !important;">2. If ambiguity found anytime, this would amount to plagiarism and the presenter and all the co- authors will be debarred from submitting for KOS for next 2 years.</p>
        <p style="text-align: initial !important;">3. Your session during the conference, along with your presentation shall be video-taped for inclusion in the proceedings of the conference.</p>
        <p style="text-align: initial !important;"><strong>4. Change of speaker in any of the session should be intimated to the scientific committee atleast one month prior to the conference. Any speaker delivering a topic whose name is not in the scientific program of the session shall be debarred from participating in the next annual conference.</strong></p>

       </div>
        </div></div>
</body>
    </div>
</div>
{% endblock %}
