{% extends 'main/base.html'%}
{% block title%}Instruction course guidelines{% endblock %}
{% block style%}

{% endblock style%}
{% block script%}
{% endblock %}
{% block content %}
<!--write main content here-->
<div class="row" style="background-color: white">
    <div class="col-lg-12" style="margin-bottom:900px">
    <body class="container1">

        <div class="wpb_wrapper ">
            <style>.city{padding-left:40px;}
            .pink{color:#000 !important;}</style>
            <h2 style="color: #ce0b4e; text-align: center; text-transform: uppercase;"><b>GUIDELINES FOR INSTRUCTION COURSE</b></h2>
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>INSTRUCTION COURSE ABSTRACT SUBMISSION OPENS ON 1st APRIL AND CLOSES ON 30th APRIL</strong></p>
            <h3>Specialties</h3>
            <p>Instruction courses are accepted in any one of the following specialties</p>
            <p>&nbsp;</p>
            <ol class="city">
            <li>Cataract</li>
            <li>Community / Social Ophthalmology</li>
            <li>Comprehensive Ophthalmology</li>
            <li>Cornea</li>
            <li>External Disease</li>
            <li>Glaucoma</li>
            <li>Lacrimal</li>
            <li>Neuro Ophthalmology</li>
            <li>Ocular Pathology , Ocular Oncology and Tumors</li>
            <li>Optics / Refraction / Contact Lens</li>
            <li>Orbit &amp; Oculoplasty</li>
            <li>Pediatric</li>
            <li>Refractive Surgery</li>
            <li>Trauma</li>
            <li>Uvea</li>
            <li>Vitreo Retinal Diseases</li>
            </ol>
            <p style="text align: initial ! important;">* The Scientific Committee has started accepting abstracts for “Ocular Oncology &amp; Tumors” for KOS 2019 (Refer specialty no.9 above)</p>
            <p>* Owing to very poor response, the below two sections have been removed</p>
            <ol class="city">– Inflammation</ol>
            <ol class="city">– Ophthalmic Education, Epidemiology &amp; Prevention of Blindness</ol>
            <p>Further subject of “Inflammation” is not “Subject-Specific” &amp; Ophthalmic Education, Epidemiology &amp; Prevention of Blindness can be covered under Community / Social Ophthalmology or Comprehensive Ophthalmology.</p>
            <p>&nbsp;</p>
            <h3>General Guidelines</h3>
            <p style="text-align: initial !important;">1. Instruction courses dealing with clinical sciences should present current, but reasonably established information.</p>
            <p style="text-align: initial !important;">2. Highly controversial or unproven concepts, may be more appropriately presented as papers or E-&nbsp;Posters.</p>
            <p style="text-align: initial !important;">3. Courses with formats utilizing innovative teaching styles are particularly encouraged. Interactive dialogues and panel discussions are educational methods that stimulate additional interest and promote learning.</p>
            <p style="text-align: initial !important;">4. Although total duration of session is 85 min,&nbsp;the&nbsp;duration of ALL the ICs will be 75 minutes with 5 minutes change over time between sessions. Additional 10 minutes is&nbsp;kept for Potential Keynote Address. (The Next time distribution will be : Session : 85 min ; IC time 75 min ; Keynote Address 10 min;). The chief instructors must ensure that the session finishes exactly on time &amp; does not&nbsp;spill over to the changeover time.</p>
            <p>5. Governing Council, MC &amp; GB of KOS 2018, opined that although any koss member can submit an IC, we should encourage members who haven’t had opportunity for previous 3 years.</p>
            <p style="text-align: initial !important;">6. Abstracts shall be accepted online only. No abstracts shall be accepted as an email, fax, hard copies etc,.</p>
            <p>&nbsp;</p>
            <h3>How many instructors an Instruction Course can have?</h3>
            <p style="text-align: initial !important;">1.&nbsp;An instruction course shall have one chief instructor and upto a maximum of 6 co-instructors (7 instructors in total)</p>
            <p style="text-align: initial !important;">2.&nbsp;A chief instructor or a co-instructor can speak on more than one topic.</p>
            <p>&nbsp;</p>
            <h3>How many ICs an instructor can participate?</h3>
            <p style="text-align: initial !important;">1. A Chief instructor MUST be a ratified member of koss (Last Ratified Membership No: 22430)</p>
            <p style="text-align: initial !important;">2. As a Chief instructor, a ratified member can submit ONE INSTRUCTION COURSE ONLY</p>
            <p style="text-align: initial !important;">3.<strong class="pink"> All Co-Instructors have to be members of koss and</strong></p>
            <ol class="city" type="a">
            <li>CAN PROVIDE consent ONLY FOR SEVEN ICs</li>
            <li>CAN PARTICIPATE in a maximum of FIVE INSTRUCTION COURSES ONLY as a co-instructor.</li>
            </ol>
            <p style="text-align: initial !important;">4. Non-ophthalmic co-instructors can be included (if relevant to IC’s) &amp; they may be non-members of koss. Please write to&nbsp;<a href="mailto:chairmanscientificcommittee@koss.org"> chairmanscientificcommittee@koss.org</a> ( with CC to <a href="mailto:support@koss-online.com">support@koss-online.com </a> )&nbsp;if you want to include non-ophthalmic co-instructors with details of the course, name of the co-instructor, his/her address, valid email id and mobile number.</p>
            <p style="text-align: initial !important;">5. Ophthalmic Instructors who are non-members of koss should become a member of koss to be a Co-instructor in the instruction course. Visit <a href="http://www.koss.org" target="_blank" rel="noopener">www.koss.org</a> to become a member.</p>
            <p>&nbsp;</p>
            <h3>About Co-Instructor’s consent</h3>
            <p>Once the Scientific Committee receives an IC Abstract complete in all respects, an auto generated e-mail will be sent to the co-instructors requesting for their consent to participate in the Instruction Course. The co-instructors must respond to them immediately (LATEST BY 31st MAY) for the course to be further considered for&nbsp;selection.</p>
            <p>&nbsp;</p>
            <h3>&nbsp;What happens if more than 5 courses gets selected?</h3>
            <p>1. It is the discretion of the co-instructor to choose the courses he/she wants to participate.</p>
            <p style="text-align: initial !important;">2. It is advised that the co-instructor informs the chief instructor with cc to <a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a> and to <a href="mailto:support@koss-online.com">support@koss-online.com</a>, his/her inability to participate in any of the instruction course.</p>
            <p style="text-align: initial !important;">3. If the co-instructor does not choose the courses, then the first 5 accepted courses (in the order of consent provided) shall be treated as the chosen courses by the co-instructor and the rest shall be withdrawn.</p>
            <p style="text-align: initial !important;">4. The chief-instructor is responsible to find an alternate co-instructor WITHIN 7 DAYS from the date of announcement of selected instruction course if the chosen co-instructor withdraws from the instruction course &amp; communicate the Name , koss Membership no, Mobile No, Email Id of the Alternate Co-instructor to&nbsp;<a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a> with copy marked to <a href="mailto:support@koss-online.com">support@koss-online.com</a></p>
            <p>&nbsp;</p>
            <h3>&nbsp;What happens if the co-instructor doesn’t consent or if an alternate co-instructor cannot be found?</h3>
            <p>Scientific committee may find a suitable alternative &amp; if that does not work out for whatever reason, the TOPIC WILL BE AUTOMATICALLY REMOVED FROM THE COURSE.</p>
            <p>&nbsp;</p>
            <h3>&nbsp;Withdrawal / Change of instructors</h3>
            <p style="text-align: initial !important;">1. Having an IC selected for the Annual Conference is a matter of great prestige.</p>
            <p style="text-align: initial !important;">2. Atleast 20 specialty experts evaluate every instruction course submitted.</p>
            <p style="text-align: initial !important;">3. Less than 15% of the instruction courses submitted get selected every year.</p>
            <p style="text-align: initial !important;">4. Hence, it is advised that an instructor should attempt to avoid withdrawal from a course. For any unavoidable reason, the chief instructor or co-instructor can withdraw from his topic on the following conditions: –</p>
            <ol class="city" type="a">
            <li>The instructor himself / herself should find an alternate instructor, get the consent from the instructor and send the change along with the Name of Alternate speaker, his email ID, Mobile no, koss Membership No. in writing to <a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a> with a copy marked to the alternate instructor and also to <a href="mailto:support@koss-online.com">support@koss-online.com</a></li>
            <li>&nbsp;While choosing the alternate instructor, do not choose someone who is already engaged in 5 instruction courses. See list of selected IC’s. It is advisable to communicate any change in instructor before 15 Dec.</li>
            <li>&nbsp;Change in the speaker upto 15th December shall reflect in the printed copy of the abstract book</li>
            <li>&nbsp;However Change in the speaker from 16 Dec. – 15 Jan. shall get reflected only in the soft copy (PDF version) of the abstract book available on the Scientific Committee website.</li>
            <li>&nbsp;No Change in the speaker/Instructor shall be accepted after 15th January.</li>
            <li>&nbsp;As the decision of the Governing Council, Managing Committee and the General body of KOS 2018, absence from the course without the prior information ( atleast 30 days before the conference) shall lead to debarring as a speaker in the subsequent annual conference.</li>
            </ol>
            <p>&nbsp;</p>
            <h3>Abstract Structure</h3>
            <p>Type the details exactly as you would want to be printed in the abstract book programme</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Course Title</h5>
            <p>The title of the course SHOULD NOT exceed 100 characters (including spaces).</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Course Outline (Synopsis)</h5>
            <p>Instruction course synopsis SHOULD NOT exceed 1000 characters (including spaces).</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Topics for each speaker and time allotted for the topic</h5>
            <p>Fill co-instructors names, topics and time allotted for each topic in the separate box given. These details SHOULD NOT to be mentioned in the Synopsis of the course. The topics SHOULD NOT exceed 100 characters (including spaces)</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Chief Instructor’s Resume (600 characters only)</h5>
            <p>Ensure the Chief Instructor’s resume, not exceeding 600 characters (including spaces), is&nbsp;prepared with care and is complete.<strong class="pink">&nbsp;Ensure that the name of Institution of the Instructors, place of work or positions held in koss or state bodies are not&nbsp;revealed. The resume should be so written as to not to reveal the identity of the&nbsp;chief instructor or of the Institution – These, If mentioned, may lead to Non-Consideration / Rejection of the Course.</strong></p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Level of Course</h5>
            <p>Indicate the appropriate level: Basic, Intermediate or Advanced.</p>
            <p>&nbsp;</p>
            <h3>Certificates</h3>
            <p>1. The Scientific Committee shall issue a certificate of presentation to all the instructors of the course.</p>
            <p>2. This certificate will be in the form of a tamper proof digitally signed PDF file which can be downloaded by logging in using the blue box of the scientific committee website</p>
            <p>3. Certificates will be available on the website after 15 days from the date of the conference.</p>
            <p>&nbsp;</p>
            <h3>Important Note:</h3>
            <ul>
            <li>&nbsp;If selected, the submitted format of the Instruction Course must be strictly adhered to without any change in topics/timings/speakers.</li>
            <li>&nbsp;Your session during the conference, along with your presentation shall be video taped for inclusion in the proceedings of the conference</li>
            <li>&nbsp;The abstract will appear exactly the way it has been submitted and the Scientific Committee will not be responsible for any spelling and grammatical errors.</li>
            <li><strong class="pink">Change of speaker in any of the session should be intimated to the scientific committee atleast one month prior to the conference. Any speaker delivering a topic whose name is not in the scientific program of the session shall be debarred from participating in the next annual conference.</strong></li>
            </ul>
            <p>&nbsp;</p>

        </div>
    </body>

    </div>
</div>
{% endblock %}





