{% extends 'main/base.html'%}
{% block title%}Poster guidelines{% endblock %}
{% block style%}

{% endblock style%}
{% block script%}
{% endblock %}
{% block content %}

<div class="row" style="background-color: white">
    <div class="col-lg-12" style="margin-bottom:900px">
        <body>
        <div class="container1">
        <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
                <style>.city{padding-left:40px;}
            .pink{color:#000 !important;}</style>
            <h2 style="color: #ce0b4e; text-align: center; text-transform: uppercase;"><b>GUIDELINES FOR PHYSICAL POSTERS</b></h2>
            <p>&nbsp;</p>
            <p style="text-align: center;"><strong>PHYSICAL POSTER ABSTRACT SUBMISSION FOR KOS OPENS ON 1st APRIL AND CLOSES ON 31st MAY</strong></p>
            <p>&nbsp;</p>
            <p>The Scientific Committee feels that Physical Posters are one of best ways to present your&nbsp;work. Apart from high visibility, it allows one to one interaction and collaboration.</p>
            <h3></h3>
            <p>&nbsp;</p>
            <h3>Specialties</h3>
            <p>Physical Posters are accepted in any of the following specialties</p>
            <p>&nbsp;</p>
            <ol class="city">
            <li>Cataract</li>
            <li>Community / Social Ophthalmology</li>
            <li>Comprehensive Ophthalmology</li>
            <li>Cornea</li>
            <li>Diabetic Retinopathy and Medical Retina</li>
            <li>External Disease</li>
            <li>Glaucoma</li>
            <li>Lacrimal</li>
            <li>Neuro Ophthalmology</li>
            <li>Ocular Pathology , Ocular Oncology and Tumors</li>
            <li>Optics / Refraction / Contact Lens</li>
            <li>Orbit &amp; Oculoplasty</li>
            <li>Pediatric</li>
            <li>Refractive Surgery</li>
            <li>Squint</li>
            <li>Trauma</li>
            <li>Uvea</li>
            <li>Vitreo Retinal Diseases</li>
            </ol>
            <p>*&nbsp; The Scientific Committee has start accepting abstracts for “Ocular Oncology &amp; Tumors” for KOS 2019 (Refer specialty no.10 above)</p>
            <p>*&nbsp; Owing to very poor response, two sections have been removed</p>
            <ol class="city">
            <li style="list-style-type: none;"> <ol class="city">– Inflammation</ol> <ol class="city">– Ophthalmic Education, Epidemiology &amp; Prevention of Blindness</ol> </li>
            </ol>
            <p>Further, subject of “Inflammation” is not “Subject-Specific” &amp; Ophthalmic Education, Epidemiology &amp; Prevention of Blindness can be covered under Community / Social Ophthalmology or Comprehensive Ophthalmology</p>
            <p>&nbsp;</p>
            <h3>General Guidelines</h3>
            <p style="text-align: -webkit-auto !important;">1. The author will have an option to convey his/her preference between e-poster or physical&nbsp;poster while submitting the abstract</p>
            <p>2.&nbsp;Abstracts are to be submitted online only. No abstracts shall be accepted as a email, Fax, Hard copies etc.</p>
            <p>3.&nbsp;Scientific E-Posters, in general, have the following characteristics</p>
            <ol class="city" type="a">
            <li>Are presented by individuals rather than by organizations</li>
            <li>Present scientific material, usually new information</li>
            <li>Do not solicit members, or promote an organization</li>
            </ol>
            <p>4.&nbsp;Each PRESENTING AUTHOR can submit 2 Physical Posters out of which 1 can get&nbsp;selected based on the evaluation scores.</p>
            <p>5.&nbsp;Not more than 3 co-authors are allowed in a Physical Poster.</p>
            <p style="text-align: -webkit-auto !important;">6. All authors&nbsp; should be members of KOSS. (Either ratified or non-ratified). Each author must have contributed to the scientific part of the poster submitted.</p>
            <p style="text-align: initial !important;">7. Non-ophthalmic co-authors can be included (if relevant) &amp; they can be non–members. However, atleast one author should be a ratified member of KOSS.</p>
            <p style="text-align: initial !important;">8.&nbsp;Ophthalmic authors who are non-members of KOSS should become a member of KOSS to be an author of the physical poster. Visit <a href="http://https://kosonline.org/" target="_blank" rel="noopener">https://kosonline.org/&nbsp;</a>to become a member.</p>
            <p style="text-align: initial !important;">9. To include non-ophthalmic authors, who are non-members of KOSS, please write to<a href="mailto:chairmanscientificcommittee@KOSS.org"> chairmanscientificcommittee@KOSS.org&nbsp;</a>( with CC to <a href="mailto:support@koss-online.com">support@koss-online.com</a> )&nbsp;along with details of the course, name of the author, his/her complete address, valid email id and mobile number</p>
            <p>10.&nbsp;The presenting author must be a ratified&nbsp;member of KOSS (till Membership number 22430).</p>
            <p style="text-align: initial!important;">11.&nbsp;If presenting author is not a ratified member, the paper can be presented by the&nbsp;Co-author BUT will not be considered for evaluation of any KOSS award. All Physical Poster awards will be given to the presenting author only.</p>
            <p style="text-align: initial!important;">12.&nbsp;Institution / hospital affiliation and doctor’s name in the title or abstract should not&nbsp;be mentioned and will lead to automatic rejection.</p>
            <p>&nbsp;</p>
            <h3>How many authors a physical poster can have?</h3>
            <p>1. A physical poster can have one presenting author and upto 3 co-authors. (4 authors in total)</p>
            <p>2. One of the above 4 authors can be the presenting author of the poster.</p>
            <p>3. Atleast one of the 4 authors should be a ratified member of KOSS.</p>
            <p>&nbsp;</p>
            <h3>Selection</h3>
            <p>The abstracts will undergo evaluation by Screening Committee. A total of 360 posters will&nbsp;be selected for display based on the scores secured in the evaluation. Intimation of&nbsp;selection will be conveyed to the presenting author by way of an email.</p>
            <p>&nbsp;</p>
            <h3>Upload a ppt</h3>
            <p>Once your poster is selected, a ppt of your poster has to be sent to the scientific committee ( at <a href="mailto: chairmanscientificcommittee@KOSS.org"> chairmanscientificcommittee@KOSS.org</a>with CC to <a href="mailto:support@koss-online.com">support@koss-online.com</a> ) for inclusion of your poster in proceedings. Non-submission of ppt shall lead to automatic rejection of poster and the next in line poster shall be selected.</p>
            <p>&nbsp;</p>
            <h3>Awards</h3>
            <p>1. There will be a best poster award each for specialty. In total, 18 awards are to be won.</p>
            <p>2. The winner of the best poster of each specialty will get</p>
            <ol class="city" type="a">
            <li>Free registration for the next annual conference of KOSS</li>
            <li>Travel grant of up to Rs.10,000/- (Courtesy – CIPLA) for attending the conference and displaying the poster again in the ‘winning posters’ area.</li>
            <li>The best poster winner shall be felicitated during the awards ceremony in the next conference.</li>
            </ol>
            <p>3. The registration for the next annual conference shall be done by the scientific committee with prior intimation to the presenting authors<br>
            4. The travel grant can be availed by the presenting authors from the scientific committee office (at the venue of the next conference) upon producing the copy of proof of travel, ( Travel tickets / Boarding Pass etc. ) of the journey to the conference and by displaying the poster again in the “winning posters” area.<br>
            5. The best of the 18 best posters shall win the coveted E.T.Selvam Award.<br>
            6. A colour photograph of the presenting author of the best poster shall be sent to the scientific committee (<a href="mailto:support@koss-online.com">support@koss-online.com</a> and <a href="mailto:chairmanscientificcommittee@KOSS.org">chairmanscientificcommittee@KOSS.org</a>) for inclusion in the scientific committee website.</p>
            <p>&nbsp;</p>
            <h3>Abstract Structure</h3>
            <p>Only the title and the authors name shall be printed in the abstract book.</p>
            <h5></h5>
            <h5 style="color: #ce0b4e;">Abstract Title</h5>
            <p>The title of the course SHOULD NOT exceed 100 characters (including spaces).</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Synopsis</h5>
            <p>The Synopsis SHOULD NOT exceed 1000 characters (including spaces).</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Add Presenting Author</h5>
            <p>Atleast one presenting author should be added. The chief author himself / herself can be a presenting author. It is the duty of the chief author to get consent from the presenting author before adding his/her name. The presenting author should be a member of KOSS</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Add co-authors</h5>
            <p>A maximum of three co-authors can be added. If there are no co-authors, add the chief / presenting author itself as a co-author. All co-authors should be a member of KOSS.</p>
            <p>&nbsp;</p>
            <h3>Declaration to be provided:</h3>
            <p>The following points has to be declared while submitted the abstract</p>
            <ol class="city">
            <li>Whether the research has been carried out in india. Was this research carried out in India ?</li>
            <li>Was this submission been presented in any other conference earlier.</li>
            <li>Would this submission be presented in any other conferences prior to the upcoming annual conference of KOSS.</li>
            <li>Has this submission won any National / International Award.</li>
            <li>Was this submission published or submitted for publication in any peer reviewed journal.</li>
            <li>Does this paper pertain to Laboratory research ( Translational research ).</li>
            </ol>
            <p>&nbsp;</p>
            <h3>Poster Preparation Guideline</h3>
            <p>Once your physical poster is selected, the following guideline has to be adhered to&nbsp;display in the conference venue.</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Poster legibility</h5>
            <p>Use large print and shade or color block letters when possible. For legibility, a minimum&nbsp;font size of 28 points and a maximum of 600 words are recommended. Fully disclose all&nbsp;commercial relationships relevant to the subject matter.</p>
            <h5></h5>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Poster Dimension</h5>
            <p>The dimension of the poster shall be intimated to the authors upon selection of the posters</p>
            <p>&nbsp;</p>
            <h5 style="color: #ce0b4e;">Author names to be added</h5>
            <p>The poster shall contain the names of all the authors (Chief, presenting and co-authors) of the poster.</p>
            <p>&nbsp;</p>
            <h3>When to display your physical Poster?</h3>
            <p>All physical posters should be displayed on or before the 11 AM of the first day of the conference. The poster panels will be available for you to display your poster one day&nbsp;before the conference.</p>
            <p>&nbsp;</p>
            <h3>How to display?</h3>
            <p>Poster boards (Pin Boards) to put up the posters and thumb pins will be available at the&nbsp;poster panel area. No sticking tapes to be used.</p>
            <p>&nbsp;</p>
            <h3>How to identify your physical poster display panel?</h3>
            <p>You will get an email containing the poster panel number and location to be displayed&nbsp;prior to the conference.</p>
            <p>The poster panel will have your poster number and the title of your presentation displayed&nbsp;on it for you to identify your panel.</p>
            <p>Volunteers will be available at your service at the panel area to assist you in finding your&nbsp;panel.</p>
            <p>&nbsp;</p>
            <h3>Interaction with the delegates:</h3>
            <p>Physical poster presentation provides a great opportunity for you to interact with the&nbsp;delegates. Display the date and time of your availability near your physical poster so that&nbsp;the delegates can come and interact with you. Your availability of at least of 1:30 hours on&nbsp;each day is recommended.</p>
            <p>&nbsp;</p>
            <h3>Judgement</h3>
            <p>1. The judgment of Physical Posters will be done on Day 3 by a panel of Experts.</p>
            <p>2. The Presenting author (preferable) or a co-author will need to be present next to&nbsp;their poster during the judging session. The judging session time will be intimated&nbsp;to the presenting author by email.</p>
            <p>&nbsp;</p>
            <h3>Absence of presenting author while judgement</h3>
            <p>1. It is mandatory that the presenting author of the poster is present near the poster during the poster judgment.</p>
            <p>2. For any unavoidable reason, if the presenting author is unable to be present near the poster during the judgment, it is imperative that either the chief author of the co-author should be present near the poster at the time of judgment.</p>
            <p>3. The name of the author who is present near the poster should have been printed on the poster. Else, it shall be considered that the author is absent during the judgement.</p>
            <p>4. If the author is not present at the time of judging, marks shall not be provided by the judge and the poster shall become ineligible to contest for an award and certificate shall not issued to the authors of the poster.</p>
            <p>&nbsp;</p>
            <h3>Removal of physical Posters</h3>
            <p>The Posters should be removed after<strong class="pink"> 11:00 am on the fourth day of the conference.</strong> Nobody&nbsp;will be responsible for care / damage to posters after that.</p>
            <p>&nbsp;</p>
            <h3>Certificates</h3>
            <p>1.&nbsp;The Scientific Committee shall issue a certificate of presentation to all the authors of the physical poster which was displayed during the conference.</p>
            <p>2.&nbsp;This certificate will be in the form of a tamper proof digitally signed PDF file which can be downloaded by logging in using the blue box of the scientific committee website</p>
            <p>3.&nbsp;Certificates will be available on the website after 15 days from the date of the conference.</p>
            <p>&nbsp;</p>
            <p style="text-transform: uppercase;"><strong class="pink">Authors of plagiarized abstracts shall be debarred from submitting abstracts for the next&nbsp;two years.</strong></p></div></div></div>
    </div>

    </div>
</body>
    </div>
</div>
{% endblock %}
