{% extends 'main/base.html'%}
{% block title%}Video guidelines{% endblock %}
{% block style%}

{% endblock style%}
{% block script%}
{% endblock %}
{% block content %}

<div class="row" style="background-color: white">
    <div class="col-lg-12" style="margin-bottom:900px">
        <body>
    <div>
        <div class="wpb_wrapper container1">
            <div class="wpb_text_column wpb_content_element">
            <div class="wpb_wrapper">
            <style>.city{padding-left:40px;}
            .pink{color:#000 !important;}</style>
            <h2 style="color: #ce0b4e; text-align: center; text-transform: uppercase;"><b>GUIDELINES FOR VIDEOS</b></h2>
            <p style="text-align: center;"><strong>VIDEO ABSTRACT SUBMISSION OPENS ON 1st APRIL&nbsp; AND CLOSES&nbsp;ON 31st MAY&nbsp;</strong></p>
            <h3></h3>
            <h3>Specialties</h3>
            <p>Video abstracts are accepted in any of the following specialties</p>
            <ol class="city">
            <li>Anterior Segment</li>
            <li>Posterior Segment</li>
            <li>General videos</li>
            </ol>
            <p>&nbsp;</p>
            <h3>General Guidelines</h3>
            <p style="text-align: initial!important;">1. Each PRESENTING AUTHOR can submit 4 videos out of which maximum of 2 can get selected&nbsp;based on the evaluation scores.</p>
            <p style="text-align: initial!important;">2. Abstracts are to be submitted online only. No abstracts shall be accepted as a email, Fax, Hard copies etc.</p>
            <p style="text-align: initial!important;">3. Not more than 3 co-authors are allowed in video abstract submission.</p>
            <p style="text-align: initial!important;">4. All authors should be Members of KOSS. (either ratified or non-ratified)</p>
            <p style="text-align: initial!important;">5. Non-ophthalmic co-authors can be included (if relevant)&amp;they can be non–members. However, atleast one author should be a ratified member of KOSS.</p>
            <p style="text-align: initial!important;">6. Ophthalmic authors who are non-members of KOSS should become a member of KOSS to be an author of the video. Visit <a href="http://http://kosonline.org/" target="_blank" rel="noopener">http://kosonline.org </a> to become a member.</p>
            <p style="text-align: initial!important;">7. To include non-ophthalmic authors, who are non-members of KOSS, please write to&nbsp;<a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a>&nbsp;with details of the course, name of the author, his/her complete address, valid email id and mobile number</p>
            <p style="text-align: initial!important;">8. Video duration is 8 minutes only.</p>
            <p style="text-align: initial!important;">9. All video awards will be given to the presenting author only.</p>
            <p style="text-align: initial!important;">10. If presenting author is not a ratified member, that video will not be considered for&nbsp;evaluation and any KOSS award.</p>
            <p style="text-align: initial!important;">11. No change in presenting author is allowed during video presentation.</p>
            <p style="text-align: initial!important;">12. Institution / hospital affiliation and doctor’s name in the title or abstract should not&nbsp;be mentioned and will lead to automatic rejection.</p>
            <p style="text-align: initial!important;">13. Title of the Video should not exceed 100 CHARACTERS INCLUDING SPACE</p>
            <p style="text-align: initial!important;">14. Synopsis cannot exceed 1000 CHARACTERS INCLUDING SPACE</p>
            <p style="text-align: initial!important;">15. The videos can be sent to the scientific committee in the following ways</p>
            <ol class="city" type="a">
            <li>You can send it online through <a href="https://www.dropbox.com/referrals/AACbcGvbeLpAaoSFvibstNgLq967trSsDK4?src=global9" target="_blank" rel="noopener">www.dropbox.com</a> / <a href="https://wetransfer.com/" target="_blank" rel="noopener">www.wetransfer.com</a> / <a href="https://drive.google.com/drive/my-drive" target="_blank" rel="noopener">www.drive.google.com.</a> Ensure that you share the file to <a href="mailto: support@koss-online.com"> support@koss-online.com&nbsp;</a>mentioning your VT number and title of the video.</li>
            <li>You can copy the video in a pen drive / CD / DVD and courier/speed post it to</li>
            </ol>
            <ol class="city">
            <li style="list-style-type: none;"> <ol class="city">Numero Technologies,</ol> </li>
            <li style="list-style-type: none;"> <ol class="city">#49, 3rd Street, Aditya Residency,</ol> </li>
            <li style="list-style-type: none;"> <ol class="city">Near VCS Nagar,</ol> </li>
            <li style="list-style-type: none;"> <ol class="city">GN Mills Post</ol> </li>
            <li style="list-style-type: none;"> <ol class="city">Coimbatore – 641029</ol> </li>
            <li style="list-style-type: none;"> <ol class="city">Tamil Nadu, India</ol> </li>
            <li style="list-style-type: none;"> <ol class="city">Phone Number: 0422 4374920</ol> </li>
            </ol>
            <p class="textbox" dir="ltr">You will receive a receipt of acknowledgement by an email in three working days from the date of receipt of the video.</p>
            <p class="textbox" dir="ltr">If the video doesn’t reach the above address on or before 15 th June, then your VT submission shall not be considered for evaluation for the annual conference.</p>
            <p>&nbsp;</p>
            <h3>Declaration to be provided:</h3>
            <p>The following points has to be declared while submitted the abstract</p>
            <ol class="city">
            <li>Whether the research has been carried out in india. Was this research carried out in India ?</li>
            <li>Was this submission been presented in any other conference earlier.</li>
            <li>Would this submission be presented in any other conferences prior to the upcoming annual conference of KOSS.</li>
            <li>Has this submission won any National / International Award.</li>
            <li>Was this submission published or submitted for publication in any peer reviewed journal.</li>
            <li>Does this paper pertain to Laboratory research ( Translational research ).</li>
            </ol>
            <p>&nbsp;</p>
            <h3>How many authors a video can have?</h3>
            <p style="text-align: initial!important;">1. A video can have one presenting author and upto 3 co-authors. (4 authors in total)</p>
            <p style="text-align: initial!important;">2. One of the above 4 authors can be the presenting author of the video.</p>
            <p style="text-align: initial!important;">3. Atleast one of the 4 authors should be a ratified member of KOSS.</p>
            <p>&nbsp;</p>
            <h3>Evaluation</h3>
            <p style="text-align: initial!important;">1. Each CD / Media containing the video received by the scientific committee shall be sent for evaluation.</p>
            <p style="text-align: initial!important;">2. Each segment shall be evaluated by atleast 9 evaluators.</p>
            <p style="text-align: initial!important;">3. Based on the scores given by the evaluators 10 in each segment shall be selected for screening in the preliminary round of the annual conference.</p>
            <p style="text-align: initial!important;">4. Of the remaining videos, the ones which are considered to be of good quality will be selected to be displayed in the video kiosks.</p>
            <p>&nbsp;</p>
            <h3>Judgment of Videos</h3>
            <p style="text-align: initial!important;">1. The top 10 videos in each segment (Anterior, Posterior, General) selected after evaluation shall be presented in the preliminary round&nbsp; at the annual conference</p>
            <p style="text-align: initial!important;">2. Videos will be judged according to Originality, Educational value, Presentation and Expert use of&nbsp;the medium.</p>
            <p style="text-align: initial!important;">3. The preliminary round will be held on day 1 &amp; 2 of the&nbsp;conference.</p>
            <p style="text-align: initial!important;">4. The best three videos of each segment will contest for the C.S Reshmi Award on day 3 of the conference</p>
            <p>&nbsp;</p>
            <h3>Awards</h3>
            <p style="text-align: initial!important;">1. Three best videos shall be selected in each segment /session.</p>
            <p style="text-align: initial!important;">2. The presenting author of the best video of each session will get free registration for the next annual conference of KOSS (Courtesy – Microvision)</p>
            <p style="text-align: initial!important;">3. The registration for the next annual conference shall be done by the scientific committee with prior intimation to the presenting authors</p>
            <p style="text-align: initial!important;">4. The best of the best video win the coveted C.S.Reshmi Award.</p>
            <p style="text-align: initial!important;">5. A colour photograph of the presenting author of the best videos shall be sent to the scientific committee (<a href="mailto: support@koss-online.com"> support@koss-online.com</a> and <a href="mailto:chairmanscientificcommittee@koss.org">chairmanscientificcommittee@koss.org</a>) for inclusion in the scientific committee website.</p>
            <p>&nbsp;</p>
            <h3>Display of videos</h3>
            <p>Video kiosks will be arranged, where all selected videos will be loaded and the delegates can come and watch the same at their convenience throughout the duration of the conference so that this will give maximum exposure of all the selected videos.</p>
            <p>&nbsp;</p>
            <h3>Certificates</h3>
            <p style="text-align: initial!important;">1. The Scientific Committee shall issue a certificate of presentation to all the authors of the video which was displayed in the kiosk.</p>
            <p style="text-align: initial!important;">2. This certificate will be in the form of a tamper proof digitally signed PDF file which can be downloaded by logging in using the blue box of the scientific committee website</p>
            <p style="text-align: initial!important;">3. Certificates will be available on the website after 15 days from the date of the conference.</p>
            <p>&nbsp;</p>
            <h3>Important note</h3>
            <p>No videos will be returned. Editor – Proceedings needs them for inclusion in the proceedings website. Hence keep a copy for your record and send. Do not send the original.</p>
            <p>&nbsp;</p>
            <p><strong class="pink">Change of speaker in any of the session should be intimated to the scientific committee atleast one month prior to the conference. Any speaker delivering a topic whose name is not in the scientific program of the session shall be debarred from participating in the next annual conference.</strong></p>
            <p>&nbsp;</p>

            <p>&nbsp;</p>
            <p style="text-transform: uppercase;"><strong class="pink">Authors of plagiarized abstracts shall be debarred from submitting abstracts for the next&nbsp;two years.</strong></p></div></div></div>
    </div>
</body>

</div>
</div>
        {% endblock %}