<html>

<head>
    <style>
        .btn {
            display: block;
            width: 115px;
            height: 25px;
            background: #4E9CAF;
            padding: 10px;
            text-align: center;
            border-radius: 5px;
            color: white;
            font-weight: bold;
            line-height: 25px;
        }
    </style>
</head>

<body>
    Hi
    <div>
        {{membership.user.first_name}} {{membership.user.last_name}} is applied for the membership.
    </div>
    <div>
        Introducer 1 {{introducer1.user.first_name}} {{introducer1.user.last_name}} has
        {{membership.membership_detail.get_introducer_one_status_display}} the membership.
    </div>
    <div>
        Introducer 2 {{introducer2.user.first_name}} {{introducer2.user.last_name}} has
        {{membership.membership_detail.get_introducer_two_status_display}} the membership.
    </div>
    <div>
        please click here to <a href="{{accept_url}}" class="btn">Accept</a> or <a href="{{reject_url}}"
            class="btn">Reject</a>
    </div>
    Note: this link is valid for one time
</body>

</html>